[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "globaltrends"]
	path = globaltrends
	url = https://github.com/ha-pu/globaltrends
